<?xml version="1.0"?>
<appSettings>
  <add key="url" value="http://89.221.201.176:8080/fedroads"/>
  <add key="mapUrl" value="http://centrdor.ru/ArcGIS/rest/services/gisservices/mosobl_osn/MapServer"/>
  <add key="identityUrl" value="http://centrdor.ru/ArcGIS/rest/services/gisservices/points_dd_events/MapServer/identify"/>
  <add key="poiUrl" value="http://centrdor.ru/ArcGIS/rest/services/gisservices/points_dd_events/MapServer"/>
  <add key="remontLayerUrl" value="http://centrdor.ru/ArcGIS/rest/services/gisservices/points_dd_events_merc_remont/MapServer"/>
  <add key="busLayerUrl" value="http://centrdor.ru/ArcGIS/rest/services/gisservices/points_dd_events_merc/MapServer"/>
  <add key="gkey" value="ABQIAAAAv0A5P5E2zR_A7rv2vBK69xRi7uqIlwICDi4n4C7QVazgifWIWBThnk91ohacrrWASrsU4tSqotNTow"/>
  <add key="markersCacheTime" value="172800"/>
</appSettings>
